services:
  broker-site:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: marcelobraz-site
    restart: unless-stopped
    ports:
      - "38291:80"
    environment:
      - NODE_ENV=production
    networks:
      - broker-network
      - npm_default

networks:
  broker-network:
    driver: bridge
  npm_default:
    external: true

